body section {
    
    margin-top: 25px;
    margin-left: 10px;


}

footer {
    margin-top: 50px;
    
}

Body {
    background-image: url("https://i.pinimg.com/originals/a6/14/85/a61485f1c73fd3118428c83896d45c47.jpg");
}